USE [master]
GO
/****** Object:  Database [Medico]    Script Date: 27/02/2020 17:53:14 ******/
CREATE DATABASE [Medico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Medico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Medico.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Medico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Medico_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Medico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Medico]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 27/02/2020 17:53:15 ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
/****** Object:  Table [dbo].[Clinica]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clinica](
	[IIDCLINICA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[DIRECCION] [varchar](150) NULL,
	[BHABILITADO] [int] NULL CONSTRAINT [DF_Clinica_BHABILITADO]  DEFAULT ((1)),
 CONSTRAINT [PK_Clinica] PRIMARY KEY CLUSTERED 
(
	[IIDCLINICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Consulta]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Consulta](
	[IIDCONSULTA] [int] IDENTITY(1,1) NOT NULL,
	[IIDPACIENTE] [int] NULL,
	[PESO] [decimal](18, 2) NULL,
	[ESTATURA] [decimal](18, 2) NULL,
	[EXAMENFISICO] [varchar](200) NULL,
	[EXAMENLABORATORIO] [varchar](200) NULL,
	[DIAGNOSTICO] [varchar](200) NULL,
	[FECHACITA] [datetime] NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Consulta] PRIMARY KEY CLUSTERED 
(
	[IIDCONSULTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConsultaMedicamento]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultaMedicamento](
	[IIDCONSULTA] [int] NOT NULL,
	[IIDMEDICAMENTO] [int] NOT NULL,
	[CANTIDAD] [int] NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[TOTAL] [decimal](18, 2) NULL,
 CONSTRAINT [PK_ConsultaMedicamento] PRIMARY KEY CLUSTERED 
(
	[IIDCONSULTA] ASC,
	[IIDMEDICAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Doctor](
	[IIDDOCTOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[APPATERNO] [varchar](150) NULL,
	[APMATERNO] [varchar](150) NULL,
	[IIDCLINICA] [int] NULL,
	[IIDESPECIALIDAD] [int] NULL,
	[EMAIL] [varchar](150) NULL,
	[TELEFONOCELULAR] [varchar](10) NULL,
	[IIDSEXO] [int] NULL,
	[SUELDO] [decimal](18, 2) NULL,
	[FECHACONTRATO] [datetime] NULL,
	[BHABILITADO] [int] NULL,
	[FOTO] [varchar](max) NULL,
	[NOMBREARCHIVO] [varchar](100) NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[IIDDOCTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Especialidad](
	[IIDESPECIALIDAD] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
	[DESCRIPCION] [varchar](200) NULL,
 CONSTRAINT [PK_TipoEspecialidad] PRIMARY KEY CLUSTERED 
(
	[IIDESPECIALIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FormaFarmaceutica]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FormaFarmaceutica](
	[IIDFORMAFARMACEUTICA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_FormaFarmaceutica] PRIMARY KEY CLUSTERED 
(
	[IIDFORMAFARMACEUTICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Medicamento]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medicamento](
	[IIDMEDICAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[CONCENTRACION] [varchar](100) NULL,
	[IIDFORMAFARMACEUTICA] [int] NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[STOCK] [int] NULL,
	[PRESENTACION] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Medicamento] PRIMARY KEY CLUSTERED 
(
	[IIDMEDICAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Paciente](
	[IIDPACIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[APPATERNO] [varchar](150) NULL,
	[APMATERNO] [varchar](150) NULL,
	[EMAIL] [varchar](100) NULL,
	[DIRECCION] [varchar](200) NULL,
	[TELEFONOFIJO] [varchar](10) NULL,
	[TELEFONOCELULAR] [varchar](10) NULL,
	[FECHANACIMIENTO] [datetime] NULL,
	[IIDSEXO] [int] NULL,
	[IIDTIPOSANGRE] [int] NULL,
	[ALERGIAS] [varchar](200) NULL,
	[ENFERMEDADESCRONICAS] [varchar](200) NULL,
	[CUADRADOVACUNAS] [varchar](200) NULL,
	[ANTECEDENTESQUIRURGICOS] [varchar](200) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[IIDPACIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sexo]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sexo](
	[IIDSEXO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_Sexo] PRIMARY KEY CLUSTERED 
(
	[IIDSEXO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoSangre]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoSangre](
	[IIDTIPOSANGRE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
 CONSTRAINT [PK_TipoSangre] PRIMARY KEY CLUSTERED 
(
	[IIDTIPOSANGRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IIDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[IIDDOCTOR] [int] NOT NULL,
	[NOMBREUSUARIO] [varchar](100) NULL,
	[CONTRASEÑA] [varchar](100) NULL,
	[BHABILITADO] [int] NULL,
	[TOKEN] [varchar](100) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IIDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Clinica] ON 

INSERT [dbo].[Clinica] ([IIDCLINICA], [NOMBRE], [DIRECCION], [BHABILITADO]) VALUES (1, N'SEDE SURESTE', N'AV 2 DE MAYO CUADRO 29', 1)
INSERT [dbo].[Clinica] ([IIDCLINICA], [NOMBRE], [DIRECCION], [BHABILITADO]) VALUES (2, N'SEDE NORTE', N'AV AREQUIPA , A LA ALTURA DEL OVALO', 1)
INSERT [dbo].[Clinica] ([IIDCLINICA], [NOMBRE], [DIRECCION], [BHABILITADO]) VALUES (3, N'SEDE SUR', N'AV PERU 123 LIMA NORTE', 1)
SET IDENTITY_INSERT [dbo].[Clinica] OFF
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([IIDDOCTOR], [NOMBRE], [APPATERNO], [APMATERNO], [IIDCLINICA], [IIDESPECIALIDAD], [EMAIL], [TELEFONOCELULAR], [IIDSEXO], [SUELDO], [FECHACONTRATO], [BHABILITADO], [FOTO], [NOMBREARCHIVO]) VALUES (1, N'Rolando', N'Delgado', N'Peceros', 4, 5, N'rcarrillo@hotmail.com', N'258741367', 1, CAST(1956.25 AS Decimal(18, 2)), CAST(N'2016-10-21 00:00:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Doctor] ([IIDDOCTOR], [NOMBRE], [APPATERNO], [APMATERNO], [IIDCLINICA], [IIDESPECIALIDAD], [EMAIL], [TELEFONOCELULAR], [IIDSEXO], [SUELDO], [FECHACONTRATO], [BHABILITADO], [FOTO], [NOMBREARCHIVO]) VALUES (2, N'Pedro', N'Rodriguez', N'Monteza', 1, 2, N'lrodriguez', N'98765412', 1, CAST(1560.45 AS Decimal(18, 2)), CAST(N'2019-05-16 00:00:00.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Doctor] ([IIDDOCTOR], [NOMBRE], [APPATERNO], [APMATERNO], [IIDCLINICA], [IIDESPECIALIDAD], [EMAIL], [TELEFONOCELULAR], [IIDSEXO], [SUELDO], [FECHACONTRATO], [BHABILITADO], [FOTO], [NOMBREARCHIVO]) VALUES (34, N'Fortunato', N'Vega', N'Fonseca', 3, 3, N'fvega@hotmail.com', N'25874136', 1, CAST(1862.14 AS Decimal(18, 2)), CAST(N'2017-12-25 00:00:00.000' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Doctor] OFF
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([IIDESPECIALIDAD], [NOMBRE], [BHABILITADO], [DESCRIPCION]) VALUES (1, N'Alergología', 1, N'Especialidad médica que trata sobre el conocimiento, diagnóstico y tratamiento de la patología producida por mecanismos de autoinmunidad')
INSERT [dbo].[Especialidad] ([IIDESPECIALIDAD], [NOMBRE], [BHABILITADO], [DESCRIPCION]) VALUES (2, N'Cardiología', 1, N'Rama de la medicina que se encarga del estudio, diagnóstico y tratamiento de las enfermedades del corazón y del aparato circulatorio.')
INSERT [dbo].[Especialidad] ([IIDESPECIALIDAD], [NOMBRE], [BHABILITADO], [DESCRIPCION]) VALUES (3, N'Dermatología', 1, N' Especialidad médica del estudio de la estructura y función de la piel, así como de las enfermedades que la afectan, su diagnóstico, prevención y tratamient')
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
SET IDENTITY_INSERT [dbo].[FormaFarmaceutica] ON 

INSERT [dbo].[FormaFarmaceutica] ([IIDFORMAFARMACEUTICA], [NOMBRE], [BHABILITADO]) VALUES (1, N'TABLETA', 1)
INSERT [dbo].[FormaFarmaceutica] ([IIDFORMAFARMACEUTICA], [NOMBRE], [BHABILITADO]) VALUES (2, N'PASTILLA', 1)
INSERT [dbo].[FormaFarmaceutica] ([IIDFORMAFARMACEUTICA], [NOMBRE], [BHABILITADO]) VALUES (3, N'JARABE', 1)
SET IDENTITY_INSERT [dbo].[FormaFarmaceutica] OFF
SET IDENTITY_INSERT [dbo].[Medicamento] ON 

INSERT [dbo].[Medicamento] ([IIDMEDICAMENTO], [NOMBRE], [CONCENTRACION], [IIDFORMAFARMACEUTICA], [PRECIO], [STOCK], [PRESENTACION], [BHABILITADO]) VALUES (1, N'Paracetamol (acetaminofén)	', N'Rico', 1, CAST(2.50 AS Decimal(18, 2)), 50, N'UNA TABLETA DE 7', 1)
INSERT [dbo].[Medicamento] ([IIDMEDICAMENTO], [NOMBRE], [CONCENTRACION], [IIDFORMAFARMACEUTICA], [PRECIO], [STOCK], [PRESENTACION], [BHABILITADO]) VALUES (2, N'Ibuprofeno', N'0.9MG', 2, CAST(1.90 AS Decimal(18, 2)), 180, N'PASTILLAS  , EN CADA TABLETA VIENEN 12', 1)
INSERT [dbo].[Medicamento] ([IIDMEDICAMENTO], [NOMBRE], [CONCENTRACION], [IIDFORMAFARMACEUTICA], [PRECIO], [STOCK], [PRESENTACION], [BHABILITADO]) VALUES (3, N'Dexametasona', N'1MG', 2, CAST(2.00 AS Decimal(18, 2)), 190, N'EN PASTILLAS PEQUEÑAS , TABLETA DE 2', 1)
SET IDENTITY_INSERT [dbo].[Medicamento] OFF
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([IIDPACIENTE], [NOMBRE], [APPATERNO], [APMATERNO], [EMAIL], [DIRECCION], [TELEFONOFIJO], [TELEFONOCELULAR], [FECHANACIMIENTO], [IIDSEXO], [IIDTIPOSANGRE], [ALERGIAS], [ENFERMEDADESCRONICAS], [CUADRADOVACUNAS], [ANTECEDENTESQUIRURGICOS], [BHABILITADO]) VALUES (1, N'Mireya', N'Manríquez ', N'Acevedo ', N'mmanrique@hotmail.com', N'Av Larcomar urb 1234', N'3698521', N'123456789', CAST(N'2019-06-12 00:00:00.000' AS DateTime), 1, 1, N'Al polvo', NULL, NULL, NULL, NULL)
INSERT [dbo].[Paciente] ([IIDPACIENTE], [NOMBRE], [APPATERNO], [APMATERNO], [EMAIL], [DIRECCION], [TELEFONOFIJO], [TELEFONOCELULAR], [FECHANACIMIENTO], [IIDSEXO], [IIDTIPOSANGRE], [ALERGIAS], [ENFERMEDADESCRONICAS], [CUADRADOVACUNAS], [ANTECEDENTESQUIRURGICOS], [BHABILITADO]) VALUES (2, N'Enrique', N'Mejía ', N'Romero ', N'emejia@hotmail.com', N'Av Miraflores 25893', N'1478523', N'321654987', CAST(N'2000-01-05 00:00:00.000' AS DateTime), 1, 2, N'Cambio de Clima', NULL, NULL, NULL, NULL)
INSERT [dbo].[Paciente] ([IIDPACIENTE], [NOMBRE], [APPATERNO], [APMATERNO], [EMAIL], [DIRECCION], [TELEFONOFIJO], [TELEFONOCELULAR], [FECHANACIMIENTO], [IIDSEXO], [IIDTIPOSANGRE], [ALERGIAS], [ENFERMEDADESCRONICAS], [CUADRADOVACUNAS], [ANTECEDENTESQUIRURGICOS], [BHABILITADO]) VALUES (3, N'Carolina', N'Ruiz ', N'Aquiles ', N'cruiz@hotmail.com', N'Av Rimac Lote 11 1234', N'2589631', N'258963147', CAST(N'2001-02-10 00:00:00.000' AS DateTime), 1, 3, N'Peluza', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Paciente] OFF
SET IDENTITY_INSERT [dbo].[Sexo] ON 

INSERT [dbo].[Sexo] ([IIDSEXO], [NOMBRE], [BHABILITADO]) VALUES (1, N'MASCULINO', 1)
INSERT [dbo].[Sexo] ([IIDSEXO], [NOMBRE], [BHABILITADO]) VALUES (2, N'FEMENINO', 1)
SET IDENTITY_INSERT [dbo].[Sexo] OFF
SET IDENTITY_INSERT [dbo].[TipoSangre] ON 

INSERT [dbo].[TipoSangre] ([IIDTIPOSANGRE], [NOMBRE], [BHABILITADO]) VALUES (1, N'O negativo', 1)
INSERT [dbo].[TipoSangre] ([IIDTIPOSANGRE], [NOMBRE], [BHABILITADO]) VALUES (2, N'O positivo', 1)
INSERT [dbo].[TipoSangre] ([IIDTIPOSANGRE], [NOMBRE], [BHABILITADO]) VALUES (3, N'A negativo', 1)
SET IDENTITY_INSERT [dbo].[TipoSangre] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IIDUSUARIO], [IIDDOCTOR], [NOMBREUSUARIO], [CONTRASEÑA], [BHABILITADO], [TOKEN]) VALUES (1, 1, N'jquispe', N'1234', 1, NULL)
INSERT [dbo].[Usuario] ([IIDUSUARIO], [IIDDOCTOR], [NOMBREUSUARIO], [CONTRASEÑA], [BHABILITADO], [TOKEN]) VALUES (2, 2, N'rpeceros', N'5678', 1, N'69774130-19fd-4dfd-b06d-68b6644fbc51')
INSERT [dbo].[Usuario] ([IIDUSUARIO], [IIDDOCTOR], [NOMBREUSUARIO], [CONTRASEÑA], [BHABILITADO], [TOKEN]) VALUES (3, 3, N'rdelacruz', N'9101', 1, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Consulta] ADD  CONSTRAINT [DF_Consulta_BHABILITADO]  DEFAULT ((1)) FOR [BHABILITADO]
GO
ALTER TABLE [dbo].[Consulta]  WITH CHECK ADD FOREIGN KEY([IIDPACIENTE])
REFERENCES [dbo].[Paciente] ([IIDPACIENTE])
GO
ALTER TABLE [dbo].[ConsultaMedicamento]  WITH CHECK ADD FOREIGN KEY([IIDCONSULTA])
REFERENCES [dbo].[Consulta] ([IIDCONSULTA])
GO
ALTER TABLE [dbo].[ConsultaMedicamento]  WITH CHECK ADD FOREIGN KEY([IIDMEDICAMENTO])
REFERENCES [dbo].[Medicamento] ([IIDMEDICAMENTO])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD FOREIGN KEY([IIDSEXO])
REFERENCES [dbo].[Sexo] ([IIDSEXO])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Clinica] FOREIGN KEY([IIDCLINICA])
REFERENCES [dbo].[Clinica] ([IIDCLINICA])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Clinica]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Especialidad] FOREIGN KEY([IIDESPECIALIDAD])
REFERENCES [dbo].[Especialidad] ([IIDESPECIALIDAD])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Especialidad]
GO
ALTER TABLE [dbo].[Medicamento]  WITH CHECK ADD FOREIGN KEY([IIDFORMAFARMACEUTICA])
REFERENCES [dbo].[FormaFarmaceutica] ([IIDFORMAFARMACEUTICA])
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Sexo] FOREIGN KEY([IIDSEXO])
REFERENCES [dbo].[Sexo] ([IIDSEXO])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_Sexo]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_TipoSangre] FOREIGN KEY([IIDTIPOSANGRE])
REFERENCES [dbo].[TipoSangre] ([IIDTIPOSANGRE])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_TipoSangre]
GO
/****** Object:  StoredProcedure [dbo].[uspActualizarDatosClinica]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[uspActualizarDatosClinica]
@idclinica int,
@nombre varchar(100),
@direccion varchar(150)
as
begin
 declare @CANTIDAD int

  SELECT  @CANTIDAD= COUNT(*)
  FROM  Clinica
  WHERE  IIDCLINICA!=@idclinica and  NOMBRE=@nombre

  if @CANTIDAD=0
  begin
  update clinica
  set NOMBRE=@nombre , DIRECCION=@direccion
  where IIDCLINICA=@idclinica
  end
end


GO
/****** Object:  StoredProcedure [dbo].[uspActualizarEspecialidad]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[uspActualizarEspecialidad]
@idespecialidad int,
@nombre varchar(100),
@descripcion varchar(200)
as
begin
declare @cantidad int
     
	 select @cantidad=count(*) 
	 from  Especialidad
	 where  IIDESPECIALIDAD=@idespecialidad and  NOMBRE=@nombre

   if @cantidad=0 
   begin
   update Especialidad
   set NOMBRE=@nombre , DESCRIPCION=@descripcion
   where IIDESPECIALIDAD=@idespecialidad
   end
end


GO
/****** Object:  StoredProcedure [dbo].[USPBUSCARCLINICA]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[USPBUSCARCLINICA]
 @idclinica int
 AS
 BEGIN
       SELECT IIDCLINICA,NOMBRE,DIRECCION
	   FROM  Clinica
	   WHERE BHABILITADO=1 and IIDCLINICA=@idclinica
 END
GO
/****** Object:  StoredProcedure [dbo].[USPBUSCARESPECIALIDADSENSITIVA]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[USPBUSCARESPECIALIDADSENSITIVA]
 @NOMBRE VARCHAR(100)
 AS
 BEGIN
       SELECT IIDESPECIALIDAD,NOMBRE,DESCRIPCION
	   FROM  Especialidad
	   WHERE BHABILITADO=1 and NOMBRE LIKE '%'+@NOMBRE+'%'
 END
GO
/****** Object:  StoredProcedure [dbo].[uspDatosEspecialidad]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[uspDatosEspecialidad]
@idespecialidad int
as
begin
   select IIDESPECIALIDAD,NOMBRE,DESCRIPCION
   from Especialidad
   where IIDESPECIALIDAD=@idespecialidad
end
GO
/****** Object:  StoredProcedure [dbo].[uspEliminarClinica]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[uspEliminarClinica]
@idEspecialidad int
as
begin
update Clinica
set BHABILITADO=0
where IIDCLINICA=@idEspecialidad
end
GO
/****** Object:  StoredProcedure [dbo].[uspEliminarEspecialidad]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[uspEliminarEspecialidad]
@idEspecialidad int
as
begin
update Especialidad
set BHABILITADO=0
where IIDESPECIALIDAD=@idEspecialidad
end
GO
/****** Object:  StoredProcedure [dbo].[uspFiltrarMedicamentoPorFormaFarmaceutica]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[uspFiltrarMedicamentoPorFormaFarmaceutica]
  @idforma int
  as
  begin
  select IIDMEDICAMENTO,NOMBRE , CONCENTRACION,PRECIO,STOCK
  from  Medicamento
  where IIDFORMAFARMACEUTICA=@idforma and BHABILITADO=1
  end
GO
/****** Object:  StoredProcedure [dbo].[USPINGRESARUSUARIO]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPINGRESARUSUARIO]
@IDDOCTOR INT,
@USUARIO VARCHAR(100),
@CONTRASEÑA VARCHAR(100)
AS
BEGIN
declare @cantidad1 int,
@cantidad2 int
     SELECT @cantidad1=count(*)
	 FROM  Usuario
	 WHERE IIDDOCTOR=@IDDOCTOR

	 SELECT @cantidad2=count(*)
	 FROM  Usuario
	 WHERE NOMBREUSUARIO=@USUARIO

	 IF @cantidad1=0 AND @cantidad2=0
	   BEGIN
	       INSERT INTO Usuario
		   (IIDDOCTOR,NOMBREUSUARIO,CONTRASEÑA,
		   BHABILITADO) VALUES
		   (@IDDOCTOR,@USUARIO,@CONTRASEÑA,1)
	   END
	 
END
GO
/****** Object:  StoredProcedure [dbo].[USPINSERTARCLINICA]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPINSERTARCLINICA]
@NOMBRE VARCHAR(100),
@DIRECCION VARCHAR(150)
AS
BEGIN
    DECLARE @CANTIDAD INT

	SELECT @CANTIDAD= COUNT(*) 
	FROM Clinica
	WHERE NOMBRE=@DIRECCION

	IF @CANTIDAD=0
	BEGIN
	  INSERT INTO Clinica(NOMBRE,DIRECCION) VALUES(@NOMBRE,@DIRECCION)
	END 

END
GO
/****** Object:  StoredProcedure [dbo].[uspInsertarEspecialidad]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[uspInsertarEspecialidad]
@nombre varchar(100),
@descripcion varchar(100)
as
begin
declare @CANTIDAD int

  SELECT  @CANTIDAD= COUNT(*)
  FROM  Especialidad
  WHERE  NOMBRE=@nombre

  IF  @CANTIDAD=0
  BEGIN
  insert into Especialidad(NOMBRE,DESCRIPCION,BHABILITADO)
  values (@nombre,@descripcion,1)
  END
end
GO
/****** Object:  StoredProcedure [dbo].[uspListarClinicaCombo]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[uspListarClinicaCombo]
  as
  begin
       select IIDCLINICA as Id,NOMBRE
	   from Clinica
	   where BHABILITADO=1
  end
GO
/****** Object:  StoredProcedure [dbo].[UspListarComboFormaFarmaceutica]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 create procedure [dbo].[UspListarComboFormaFarmaceutica]
  as
  begin
  select IIDFORMAFARMACEUTICA,NOMBRE from FormaFarmaceutica
  end
GO
/****** Object:  StoredProcedure [dbo].[uspListarDoctores]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[uspListarDoctores]
  as
  begin
       select IIDDOCTOR,NOMBRE,APPATERNO,APMATERNO
	   from Doctor
	   where BHABILITADO=1
  end
GO
/****** Object:  StoredProcedure [dbo].[uspListarDoctoresConsulta]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[uspListarDoctoresConsulta]
  as
  begin
       select IIDDOCTOR,NOMBRE,APPATERNO,APMATERNO
	   from Doctor
	   where BHABILITADO=1
  end
GO
/****** Object:  StoredProcedure [dbo].[uspListarDoctoresPorClinica]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    create procedure [dbo].[uspListarDoctoresPorClinica]
  @idclinica int
  as
  begin
       select IIDDOCTOR,NOMBRE,APPATERNO,APMATERNO
	   from Doctor
	   where BHABILITADO=1 and IIDCLINICA=@idclinica
  end
GO
/****** Object:  StoredProcedure [dbo].[USPLISTARESPECIALIDAD]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[USPLISTARESPECIALIDAD]
 AS
 BEGIN
       SELECT IIDESPECIALIDAD,NOMBRE,DESCRIPCION
	   FROM  Especialidad
	   WHERE BHABILITADO=1
 END
GO
/****** Object:  StoredProcedure [dbo].[uspListarMedicamento]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[uspListarMedicamento]
  as
  begin
  select IIDMEDICAMENTO,NOMBRE , CONCENTRACION,PRECIO,STOCK
  from  Medicamento
  where BHABILITADO=1
  end
GO
/****** Object:  StoredProcedure [dbo].[uspObtenerDatosClinica]    Script Date: 27/02/2020 17:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[uspObtenerDatosClinica]
@idclinica int
as
begin
  select IIDCLINICA,NOMBRE,DIRECCION
  from clinica
  where IIDCLINICA=@idclinica
end
GO
USE [master]
GO
